<h3 id="deploy-to-github-pages">Deploy to GitHub pages<a title="Link to this heading" class="header-link"
        aria-hidden="true" href="guide/deployment#deploy-to-github-pages"><i class="material-icons">link</i></a></h3>
<ol>
    <li>
        <p>You need to <a href="https://github.com/join">create a GitHub account</a> if you don't have one, and then <a
                href="https://help.github.com/articles/create-a-repo/">create a repository</a> for your project.
            Make a note of the user name and project name in GitHub.</p>
    </li>
    <li>
        <p>Build your project using Github project name, with the Angular CLI command <a
                href="cli/build"><code>ng build</code></a> and the options shown here:</p>
        <div language="none">
            <div style="display: none;">

                ng build --prod --output-path docs --base-href /&lt;project_name&gt;/

            </div>
            <!---->

            <pre class="lang-none prettyprint">

          <code class="animated fadeIn"><span class="pln">ng build </span><span class="pun">--</span><span class="pln">prod </span><span class="pun">--</span><span class="pln">output</span><span class="pun">-</span><span class="pln">path docs </span><span class="pun">--</span><span class="kwd">base</span><span class="pun">-</span><span class="pln">href </span><span class="pun">/&lt;</span><span class="pln">project_name</span><span class="pun">&gt;/</span></code>
        </pre>


        </div>
    </li>
    <li>
        <p>When the build is complete, make a copy of <code>docs/index.html</code> and name it
            <code>docs/404.html</code>.</p>
    </li>
    <li>
        <p>Commit your changes and push.</p>
    </li>
    <li>
        <p>On the GitHub project page, configure it to <a
                href="https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-from-a-docs-folder-on-your-master-branch">publish
                from the docs folder</a>.</p>
    </li>
</ol>